body {
    background-color: #564256;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #000000;
}
head{
    text-align: center;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
  
}
h1{
  color: #FFFFFF;
}
h2{
  color: #FFFFFF;
}
.box {
    background-color: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

